---
import Logo from '../assets/logo.png'
---

<header class="w-full flex flex-col justify-center gap-y-4 py-4 border-b border-zinc-300">

  <div class="flex justify-center" >
    <div class="flex flex-row gap-x-2 items-center">
      <img src={Logo.src} width="40" height="48" alt="Astro Homepage" />
      
      <h1 class="text-xl font-black text-rose-500">Threads & Kittens</h1>
    </div>
  </div>

  <nav class="text-sm font-medium text-red-950"> 
    <ul class="flex flex-row justify-center gap-x-8 ">
      <li><a href="">Home</a></li
      <li><a href="">About</a></li>
      <li><a href="">Sells</a></li>
      <li><a href="">Posts</a></li>
      <li><a href="">Contact</a></li>
    </ul>
  </nav>
    
</header>
